.index-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 90px;
    margin-bottom: 40px;
}

.index-main__jumbotron {
    &__title {
        text-align: center;
        font-size: 30px;
        width: 100vw;
        margin-bottom: 40px;
        font-size: 40px;
    }
    &__title__span {
        @include fontAnton;
    }
}

.index-main__login {
    &__title {
        @include fontAnton;
    }
    &__subtitle {
        font-weight: 300;
        margin-bottom: 40px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.36) 14.91%, rgba(255, 255, 255, 0) 114.91%);
        align-items: center;
    }
    &__form__text,
    &__form__password {
        margin-bottom: 30px;
        border-radius: 10px;
        height: 40px;
        width: 300px;
        background-color: rgba(255, 255, 255, 0.67);
        text-align: center;
        font-size: 18px;
        outline: none;
    }
    &__form__label {
        margin: -10px auto 10px auto;
    }
    &__form__button {
        font-size: 18px;
        width: 150px;
        height: 40px;
        margin-bottom: 40px;
        color: #29BC6E;
    }
}